$transition-time: 150ms;

.exitActive {
    transition: all $transition-time ease;
    opacity: 0;
}

.enter {
    opacity: 0;
}

.enterActive {
    transition: all $transition-time ease;
    opacity: 1;
}