.container {
    margin-top: 1rem;
    h1 {
        margin: 0.25rem 0 0.5rem 0;
        text-align: center;
        font-weight: 500;
        font-size: 4.25rem;
    }

    button {
        margin: 0.75rem;
        width: 100%;
        padding: 1.3rem;
    }
    
    input {
        margin-top: 1rem;
        width: 100%;
    }

    p {
        padding: 0.5rem 0;
        margin: 0;
        font-size: 0.85rem;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #b8b8b8;
    }
    
    span {
        user-select: none;
        color: #2B2B2B;
        margin-left: .40rem;
        cursor: pointer;
    }

}